extends layout

block content
  section.section.text-center.section-1
    div.row.column
        h1.heading Elise Livingston
        hr
        h3.subheading user experience
  section.section.section-2
    div.row
        div.column.medium-4
            h2 Dan is great!!!
        div.column.medium-4
            h2 Dan is great!!!
        div.column.medium-4
            h2 Dan is great!!!
  section.section.section-3
    div.row.colum
        h1 Elise is great!!!
        h2 Elise is great!!!
        h3 Elise is great!!!
        h4 Elise is great!!!
        h5 Elise is great!!!
        h6 Elise is great!!!
        p Elise is great!!!
  div.background-image