extends layout

block content
  section.section.section-1
    div.row.column.text-center
        h1 Elise Livingston
        h4 UX Design
  section.section.section-2
    div.row
        div.column.large-9
            h2 About me
            p I am a forward-thinking UX designer and researcher with a strong background in interaction design, qualitative research, computer science, and project management. I have a passion for technology, and for building meaningful and innovative products that improve the ways that we work, learn, and live.
            p I currently work at Microsoft where I design and build inclusive and accessible experiences across the Microsoft Office suite. I am also working on my Master’s degree in Human Centered Design & Engineering at the University of Washington. Combining my experiences from academic research and industry design, I am able to bring a unique perspective to each group that I work with, bringing to light new opportunities for innovation and collaboration.
  section.section.section-3
    div.row.column
        h2 Skills
    div.row
        div.column.large-4
            h3 Understanding users
            p I always approach problems by first understanding my users. I’m well-versed in interviews, focus groups, surveys, and observation, among many other user research tools and techniques.
        div.column.large-4
            h3 Evaluating products
            p Test with users early and often! The more effective testing, the more usable the final solution. I have a lot of experience designing and moderating usability studies at every stage of the design process from early ideation and prototyping to in-market evaluation and analysis.
        div.column.large-4
            h3 Communicating
            p Great communication is key to great projects. Coming from a diverse background of computer science, design, and project management, I am able to effectively communicate with all members of a team, helping to get everyone on the same page quickly.
    div.row
        div.column.large-4
            div.card
                img(alt='', src='/images/globe.png')
                h3 Designing inclusively
                p Inclusive design leads to innovation. When we design inclusively from the start, every user benefits. I have a lot of experience in inclusive design thinking, and helping teams understand what inclusive design is and why it’s important. I’ve even given a couple of talks in the space.
        div.column.large-4
            div.card
                img(alt='', src='/images/globe.png')
                h3 Filling gaps
                p Naturally observant, I’m able to pinpoint gaps in technology that need to be filled. Naturally creative, I’m able to generate lots of ideas and solutions to fill these gaps. Innovation isn’t about direct competition with other products, it’s about figuring out what other products have missed.
        div.column.large-4
            div.card
                img(alt='', src='/images/globe.png')
                h3 Designing UX
                p UX is crucial to the success of any product. I have experience creating mock-ups and user flows that make sense. When I design, I believe in both usability and delight.
  section.section.section-4
    div.row
        div.column.large-9
            h2 Office Remote
            h3 Program Manager + Designer
            p Swag selfies 90's, blue bottle twee listicle jean shorts biodiesel vegan forage. Authentic tumeric woke subway tile, hell of ugh swag hoodie. Quinoa cray umami activated charcoal. Organic vape activated charcoal, synth squid whatever church-key woke mumblecore VHS. Artisan copper mug PBR, hot chicken affogato stumptown hella. Fashion axe food truck whatever kinfolk master cleanse letterpress. Photo booth everyday carry pour-over 3 wolf moon chia street art.
        div.column.large-3
            img(alt='', src='https://placekitten.com/400/400')
    div.row
        div.column.large-9
            h2 Office Remote
            h3 Program Manager + Designer
            p Swag selfies 90's, blue bottle twee listicle jean shorts biodiesel vegan forage. Authentic tumeric woke subway tile, hell of ugh swag hoodie. Quinoa cray umami activated charcoal. Organic vape activated charcoal, synth squid whatever church-key woke mumblecore VHS. Artisan copper mug PBR, hot chicken affogato stumptown hella. Fashion axe food truck whatever kinfolk master cleanse letterpress. Photo booth everyday carry pour-over 3 wolf moon chia street art.
        div.column.large-3
            img(alt='', src='https://placekitten.com/400/400')
  div.background-image
  div.background-image-2