extends layout

block content
  section.section.text-center.section-1
    div.row.column
        h1 Elise Livingston
        h4 UX Design
  section.section.section-2
    div.row
        div.column.large-5
            h2 About me
            p I am a forward-thinking UX designer and researcher with a strong background in computer science, qualitative research, interaction design, and project management. I have comprehensive experience working in the Internet of Things and accessibility spaces, and a passion for inclusive design, and designing experiences that are accessible to everyone.
  section.section.section-3
    div.row
        div.column.large-3
            h3 Interaction design
        div.column.large-3
            h3 Ideation
        div.column.large-3
            h3 User Research
        div.column.large-3
            h3 Project management
    div.row
        div.column.large-3
            h3 Qualitative Analysis
        div.column.large-3
            h3 Designing Usability Studies
        div.column.large-3
            h3 Moderating Usability Studies
        div.column.large-3
            h3 Inclusive design
  section.section.section-4
    div.row
        div.column.large-9
            h2 Office Remote
            h3 Program Manager + Designer
            p Swag selfies 90's, blue bottle twee listicle jean shorts biodiesel vegan forage. Authentic tumeric woke subway tile, hell of ugh swag hoodie. Quinoa cray umami activated charcoal. Organic vape activated charcoal, synth squid whatever church-key woke mumblecore VHS. Artisan copper mug PBR, hot chicken affogato stumptown hella. Fashion axe food truck whatever kinfolk master cleanse letterpress. Photo booth everyday carry pour-over 3 wolf moon chia street art.
        div.column.large-3
            img(alt='', src='https://placekitten.com/400/400')
    div.row
        div.column.large-9
            h2 Office Remote
            h3 Program Manager + Designer
            p Swag selfies 90's, blue bottle twee listicle jean shorts biodiesel vegan forage. Authentic tumeric woke subway tile, hell of ugh swag hoodie. Quinoa cray umami activated charcoal. Organic vape activated charcoal, synth squid whatever church-key woke mumblecore VHS. Artisan copper mug PBR, hot chicken affogato stumptown hella. Fashion axe food truck whatever kinfolk master cleanse letterpress. Photo booth everyday carry pour-over 3 wolf moon chia street art.
        div.column.large-3
            img(alt='', src='https://placekitten.com/400/400')

  div.background-image
  div.background-image-2