h1 {
  font-family: 'Oswald', cursive;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans Condensed', sans-serif;
}
p {
  font-family: 'Open Sans', sans-serif;
}
@media only screen and (min-width: 780px) {
  .background-image {
    background-image: url("/images/desk.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
  }
}
@media only screen and (min-width: 780px) {
  .scrolled-2 .background-image {
    background-image: url("https://images.unsplash.com/photo-1432888498266-38ffec3eaf0a?dpr=1&auto=format&crop=entropy&fit=crop&w=900&h=500&q=80&cs=tinysrgb");
  }
}
@media only screen and (min-width: 780px) {
  .background-image-2 {
    background-image: url("https://images.unsplash.com/photo-1432888498266-38ffec3eaf0a?dpr=1&auto=format&crop=entropy&fit=crop&w=900&h=500&q=80&cs=tinysrgb");
  }
}
h2 {
  font-size: 3rem;
  text-transform: uppercase;
}
h3 {
  font-size: 1.9rem;
}
.section-1 {
  background-image: url("/images/desk.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 120px 0;
}
.section-1 h1 {
  font-size: 3rem;
  text-transform: uppercase;
}
@media only screen and (min-width: 780px) {
  .section-1 h1 {
    font-size: 4rem;
  }
}
.section-1 h4 {
  display: inline-block;
  font-size: 2rem;
  position: relative;
  margin-top: -18px;
  text-transform: uppercase;
}
.section-1 h4:before,
.section-1 h4:after {
  border-top: 3px solid #fff;
  content: "";
  margin: 0 20px;
  position: absolute;
  top: 50%;
  width: 70px;
}
@media only screen and (min-width: 780px) {
  .section-1 h4:before,
  .section-1 h4:after {
    width: 190px;
  }
}
.section-1 h4:before {
  right: 100%;
}
.section-1 h4:after {
  left: 100%;
}
@media only screen and (min-width: 780px) {
  .section-1 h4 {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 780px) {
  .section-1 {
    background: transparent;
    padding: 250px 0;
  }
}
.section-2 {
  background: #fff;
  color: #000;
  padding: 50px 0;
}
.section-2 p {
  font-size: 1.4rem;
  font-weight: 500;
}
@media only screen and (min-width: 780px) {
  .section-2 {
    min-height: 115vh;
  }
}
.section-3 {
  background-color: #fff;
  color: #000;
  margin-top: 250px;
  padding: 100px 0;
}
.section-3 .row + .row {
  margin-top: 100px;
}
.section-4 {
  background-color: #fff;
  color: #000;
  margin-top: 250px;
  padding: 100px 0;
}
.section-4 h3 {
  margin-top: -20px;
}
.section-4 .row + .row {
  margin-top: 100px;
}
.column {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
